$indicator-color: #26a69a;
$indicator-size: 12px;
$item-width: 180px;
$item-width-mobile: 120px;
.images-list{
	display: flex;	
	margin-top: 20px;
	.carousel-item{
	    display: inline-block;
	    max-width: $item-width;
	    width: 100%;
	    vertical-align: top;
	    margin-right: 15px;
		img{
			max-width: $item-width;
			width: 100%;
		}
	}
	.indicator-item{
		height: $indicator-size !important;
		width: $indicator-size !important;
		border: 1px solid #00b7a6 !important;
		&.active{
			background: $indicator-color !important;
		}
	}
}

// #finalResult{
// 	display: block;
// 	img{
// 		display: inline-block;
// 		width: 100%;
// 		vertical-align: top;
// 		margin-right: 15px;
// 		max-width: $item-width;
// 		width: 100%;
// 	}
// 
// }

@media (max-width: 380px){
	.images-list{
		display: block;
		
		.carousel-item{
			margin-right: 0;
			max-width: 50%;
			margin-left: -4px;
			width: 100%;
			img{
				max-width: $item-width-mobile;
			}
		}
	}
}